input[type=checkbox].css-checkbox {
							display:none;
						}

						input[type=checkbox].css-checkbox + label.css-label {
							padding-left:36px;
							height:31px; 
							display:inline-block;
							line-height:31px;
							background-repeat:no-repeat;
							background-position: 0 0;
							font-size:31px;
							vertical-align:middle;
							cursor:pointer;

						}

						input[type=checkbox].css-checkbox:checked + label.css-label {
							background-position: 0 -31px;
						}
						label.css-label {
				background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_582b9daca3e6c0bb504644a7a8f0b09d.png);
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}


body {  
    margin:0px; padding:0px;  
    background-color:#131211;  
    font-family: arial;
    color:#4c4d4f;
}  
  
#main {  
    background:#c4c0be url(assets/bg_small.jpg) no-repeat;   
 

}  

input[type=button]
{
  background-color: #E3E1B8; 
}


#header {
	text-align: center;
	width: 100%;
	padding-top:25px;
}

#countdown {
	text-align: center;
}

#splash {
	text-align: center;
	width: 100%;
	float: left;
	background-color: #fff;
	padding: 10px;
opacity: 0.8;
}

#signup {
	text-align: center;
	width: 100%;
	float: left;
	padding: 10px;
	margin-top: 20px;
}

#community {
	text-align: center;
	width: 100%;
	float: left;
	background-color: #fff;
	padding: 10px;
	margin-bottom: 30px;
	opacity: 0.8;
}

#family {
	text-align: center;
	width: 100%;
	float: left;
	background-color: #fff;
	padding: 10px;
	margin-bottom: 30px;
	opacity: 0.8;
}

#generations {
	text-align: center;
	width: 100%;
	float: left;
	background-color: #fff;
	padding: 10px;
	margin-bottom: 30px;
	opacity: 0.8;
}

#main .container {   
    min-height:1500px;  
}  
#footer {   
    color:white;  
    padding:40px;  
}  
.container {  
    width:950px;  
    margin:0 auto;  
    position:relative;  
}  